{% extends 'index.html' %}

{% block main-navigation %}
    {% include 'navigation.html' %}
{% endblock main-navigation %}

{%  load staticfiles %}

<!--Content
    ====================================================================================================================
    -->
{% block ts-content %}
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block ts-has-overlay text-white">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper col-md-8 offset-md-1">
                        <span>{{ page.title }}</span>
                    </span>
                </h1>
            </div>

            <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
                <div class="ts-background-image ts-background-repeat ts-img-into-bg ts-parallax-element">
                    <img src="{% static 'img/cell-phone-close.jpg' %}" alt="">
                </div>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">

                <div class="container">
                    <div class="ts-masonry row">

                        {% for document in documents %}
                            <!--Document Item-->
                            {% block card-document %}
                                <div class="col-md-4 card-container">
                                    <div class="card-flip">
                                        <!-- Document Front -->
                                        <div class="card front card-doc">
                                            {% if document.preview %}
                                                <img src="{{ document.preview.url }}" class="card-img-top img-fluid">
                                            {% elif document.type == PDF %}
                                                <img src="{% static DOCUMENT_PDF_MINIATURE %}" class="card-img-top img-fluid">
                                            {% elif document.type == XLS or document.type == XLSX %}
                                                <img src="{% static DOCUMENT_EXCEL_MINIATURE %}" class="card-img-top img-fluid">
                                            {% elif document.type == DOC or document.type == DOCX %}
                                                <img src="{% static DOCUMENT_WORD_MINIATURE %}" class="card-img-top img-fluid">
                                            {% elif document.type == PPT or document.type == PPTX %}
                                                <img src="{% static DOCUMENT_POWERPOINT_MINIATURE %}" class="card-img-top img-fluid">
                                            {% else %}
                                                <img src="{% static DOCUMENT_UNKNOWN_MINIATURE %}" class="card-img-top img-fluid">
                                            {% endif %}
                                            <div class="card-block">
                                                <h4 class="card-title">{{ document.title }}</h4>
                                                <p class="card-text">{{ document.description }}</p>
                                                <p class="card-text"><small class="text-muted">Добавлен: {{ document.added|timesince }} назад</small></p>
                                            </div>
                                        </div>
                                        <!-- End Document Front -->

                                        <!-- Document Back -->
                                        <div class="card back card-doc">
                                            <div class="card-header">
                                                Действия над фалом {{ document.type|upper }}
                                            </div>
                                            <div class="card-block">
                                                <h4 class="card-title">{{ document.title }}</h4>
                                                <p class="card-text">Нажмите 'Просмотр', чтобы ознакомиться с документом или 'Скачать', для загрузки файла на ваш компьютер</p>
                                                {% if document.type == PDF %}
                                                    <a href="{{ document.doc.url }}" class="btn btn-primary btn-card doc-view">Просмотр</a>
                                                {% elif document.type == DOC or document.type == DOCX or document.type == XLS or document.type == XLSX or document.type == PPT or document.type == PPTX %}
                                                    <a href="//docs.google.com/gview?url={{ document.doc.url }}&embedded=true"
                                                       class="btn btn-primary btn-card doc-view">Просмотр</a>
                                                {% endif %}
                                                <a href="{{ document.doc.url }}" class="btn btn-primary btn-card download-pdf">Скачать</a>
                                            </div>
                                        </div>
                                        <!-- End document Back -->
                                    </div>
                                </div>
                                <!-- End document -->
                            {% endblock card-document %}
                        {% endfor %}

                    </div>
                </div>

            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
        <!--end #footer-->

    </div>
    <!--end page-->
{% endblock ts-content %}
