{% extends 'index.html' %}

{% block main-navigation %}
    {% include 'navigation.html' %}
{% endblock main-navigation %}

{%  load staticfiles %}

<!--Content
    ====================================================================================================================
    -->
{% block ts-content %}
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">
            <!-- Content
            ============================================================================================================
            -->
            <section class="ts-block pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-1">
                            {% autoescape off %}
                                {{ page.text }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
        <!--end #footer-->

    </div>
    <!--end page-->
{% endblock ts-content %}
