{% block header %}
    <header id="ts-hero" class="ts-block ts-has-overlay text-white">

        <div class="container pt-2 pt-sm-5 pt-lg-0">
            <h1 data-animate="ts-reveal">
                    <span class="wrapper col-md-8 offset-md-1">
                        <span>{{ page.title }}</span>
                    </span>
            </h1>
            {% if page.title != page.description and page.description %}
                <h2 data-animate="ts-reveal">
                    <span class="wrapper col-md-8 offset-md-1">
                        <span data-ts-delay=".2s">{{ page.description }}</span>
                    </span>
                </h2>
                </div>
            {% endif %}
        <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
            <div class="ts-background-image ts-background-repeat ts-img-into-bg ts-parallax-element">
                <img src="{{ page.header }}" alt="">
            </div>
        </div>

    </header>
{% endblock header %}