{% extends 'index.html' %}

{% block main-navigation %}
    {% include 'navigation.html' %}
{% endblock main-navigation %}

{%  load staticfiles %}

<!--Content
  ====================================================================================================================
  -->
{% block ts-content %}
    <div class="ts-content" data-bg-color="#0c0c0c">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block text-white pb-0">
            <div class="container">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Фото</span>
                    </span>
                    <br>
                    <span class="wrapper">
                        <span data-ts-delay=".2s">галерея</span>
                    </span>
                </h1>
            </div>
        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content" class="text-white">

            <!-- GALLERY
            ============================================================================================================
            -->
            <section id="gallery_list" class="ts-block pb-5">
                <div class="container">
                    <div class="row ts-gallery">
                        {% for album in albums %}
                            <!---->
                            <div class="col-md-6 col-lg-6">
                                <a href="{{ album.url }}" class="card ts-gallery__item mb-3">
                                    <div class="ts-background ts-img-into-bg">
                                        {% if album.photo %}
                                            <img src="{{ album.photo }}" alt="">
                                        {% else %}
                                            <img src="{% static NO_PHOTO %}" alt="">
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="ts-gallery__item-description">
                                    <h5 class="mb-0">
                                        <a href="#">{{ album.name }}</a>
                                    </h5>
                                </div>
                                <!--end gallery item-->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <hr class="ts-hr-light">

            <!--FOOTER
            ================================================================================================================
            ================================================================================================================
            -->
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock footer %}
            <!--end #footer-->
        </main>
    </div>
    <!--end page-->
{% endblock ts-content %}