<html>
<head>
    <title></title>
</head>
<body>
<div style="max-width: 750px; margin: 0px auto; padding: 10px; background-image: url('https://lh3.googleusercontent.com/-jyz8pO54axk/Vc2wG6ERz1I/AAAAAAAAAMg/PE4VI3sUSvU/s426/unnamed.png'); font-family: Tahoma; -webkit-box-shadow: 0px 4px 24px rgba(50, 50, 50, 0.40); -moz-box-shadow: 0px 4px 24px rgba(50, 50, 50, 0.40); box-shadow: 0px 4px 24px rgba(50, 50, 50, 0.40);">
    <div style="background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 28px 28px 22px; text-align: center;"><span style="color:#cc0000;"><span style="font-size: 28px;"><span style="font-family: georgia,serif;">Заголовок</span></span></span>
        <hr />
        <p style="text-align: left;"><span style="color:#000080;"><em><span style="font-family: georgia,serif;"><span style="font-size: 18px;">Здравствуйте {name}!</span></span></em></span></p>
        <div style="border: 1px solid Green; border-style: dotted; padding: 5px; width: 98%;">
            <p style="text-align: left;">здесь текст письма</p>
        </div>
        <br>
        <div style="border: 1px solid Green; border-style: dotted; padding: 5px; width: 98%;">
            <p style="text-align: left;">и здесь текст письма</p>
        </div>
        <hr />
        <p><span style="font-size:14px;"><span style="font-family: georgia,serif;">Всё для открытия сетевого бизнеса &laquo;онлайн - оффлайн&raquo; от мечты до реализации. Автор Андрей Ленко <a href="http://lenko.biz/" target="_blank">lenko.biz</a> | <a href="http://lenko.biz/kontakty/" target="_blank">Контакты</a> | <a href="http://gw.lenko.biz" target="_blank">Приглашение в бизнес</a></span></span></p>
    </div>
</div>
</body>
</html>