{% load staticfiles %}

{% block footer %}
    <footer id="ts-footer">
        <section id="ts-footer-main">
            <div class="container">

                <div class="row">

                    <div class="col-md-7">
                        <p>
                            Фотографии детей на сайте размещены с согласия родителей . Все материалы, размещенные на сайте, разработаны автором или собраны из общедоступных публичных ресурсов сети Интернет и предназначены исключительно для чтения с целью образования, не носят коммерческого характера. Все авторские права принадлежат их владельцам. Любое коммерческое и иное использование, кроме чтения, образования, запрещено. Данный проект является некоммерческим, и автор сайта не несет ответственности за возможные последствия использования предложенных только для чтения материалов в целях, запрещенных нормами международного права.
                        </p>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <address class="ts-text-muted---white">
                            607710 Нижегородская обл,
                            <br>
                            Шатковский район,
                            <br>
                            пос. Лесогорск, ул. Советская, д. 2
                            <br>
                            <br>
                            <strong>тел:</strong> (83190)4-61-20
                            <br>
                            <strong>email:</strong> <a href="mailto:lesogorsk-mdou@mail.ru">lesogorsk-mdou@mail.ru</a>
                            <br>
                            <strong>www:</strong> <a href="http://www.lesogorsk-mdou.ru">lesogorsk-mdou.ru</a>
                            <br>
                        </address>
                    </div>

                    <div class="col-sm-6 col-md-1">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="/about/">Главная</a>
                            <a class="nav-link" href="/news/">Новости</a>
                            <a class="nav-link" href="/gallery/">Галерея</a>
                            <a class="nav-link" href="/contacts/">Контакты</a>
                        </nav>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container py-5">
                <small>2019 © Все права защищены</small>
            </div>
        </section>
    </footer>
{% endblock footer %}
