{% load staticfiles %}

{% block footer %}
    <footer id="ts-footer">
        <section id="ts-footer-main">
            <div class="container">

                <div class="ts-title">
                    <h2>Романова Татьяна Николаевна</h2>
                </div>

                <div class="row">

                    <div class="col-md-5">
                        <p>
                            Работаю в МДОУ Лесогорский детский сад, являюсь педагогом первой категории.
                        </p>
                        <a href="http://lesogorsk-mdou.ru/" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">Больше</a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <address class="ts-text-muted---white">
                            607710 Нижегородская обл,
                            <br>
                            Шатковский район,
                            <br>
                            пос. Лесогорск, ул. Советская, д. 2
                            <br>
                            <br>
                            <strong>Тел:</strong> (83190)4-61-20
                            <br>
                            <strong>Email:</strong> <a href="#">lesogorsk-mdou@mail.ru</a>
                            <br>
                            <strong>WWW:</strong> <a href="#">lesogorsk-mdou.ru</a>
                            <br>
                        </address>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="/about/">Главная</a>
                            <a class="nav-link" href="/news/">Новости</a>
                            <a class="nav-link" href="/gallery/">Галерея</a>
                            <a class="nav-link" href="/contacts/">Контакты</a>
                        </nav>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container py-5">
                <small>© Все права защищены</small>
            </div>
        </section>
    </footer>
{% endblock footer %}
