{% load staticfiles  %}

{% block ts-hero %}
    <header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">
        <div class="container">
            <h2 data-animate="ts-reveal">
            <span class="wrapper">
                <span>Воспитатель</span>
            </span>
            </h2>
            <h1>
            <span class="wrapper">
                <span data-ts-delay=".1s">Романова Татьяна</span>
            </span>
            </h1>
            <h4 class="mb-0" data-animate="ts-fadeInUp" data-ts-delay=".5s">МДОУ Лесогорский Детский сад</h4>

        </div>

        <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
            <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                <img src="{% static 'img/bg_image.JPG' %}" alt="">
            </div>
        </div>
    </header>
{% endblock ts-hero %}