{% load staticfiles %}

{% block main-content %}

    <main id="ts-content">
        <!--Цитата
        ============================================================================================================
        -->
        {% block blockquote %}
            <section id="blockquote" class="ts-block">
                <div class="container">

                    <blockquote class="blockquote">
                        <h2>Настоящий воспитатель тот, кто способен спуститься с высоты своих знаний до незнания воспитанников и вместе с ними совершить восхождение</h2>
                        <footer class="blockquote-footer">Каждый ребёнок – индивидуальность. Необходимо найти ключ к каждой личности</footer>
                    </blockquote>

                </div>
            </section>
        {% endblock blockquote %}
        <!-- Фотогаллерея
        ============================================================================================================
        -->
        <section id="gallery">
            <div class="container-fluid px-0">
                <div class="row no-gutters ts-gallery">
                    {% for photo in photos %}
                        <div class="col-md-6 col-lg-4">
                            <a href="{{ photo.url }}" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp">
                                <div class="ts-gallery__item-description">
                                    <h5>{{ photo.album }}</h5>
                                    <h3>{{ photo.name }}</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    {% if photo.photo %}
                                            <img src="{{ photo.url }}" alt="">
                                        {% else %}
                                            <img src="{% static NO_PHOTO %}" alt="">
                                        {% endif %}
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->
                    {% endfor %}
                </div>
            </div>
        </section>

        <!--Features
        ============================================================================================================
        -->
        <section id="features" class="ts-block text-white text-center text-sm-left">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="ts-feature">
                            <img src="{% static 'themes/preus/assets/img/icon__dashboard.png' %}" alt="" class="mb-5">
                            <h4>Less Coding, More Fun</h4>
                            <p>Pellentesque vitae massa vel neque rhoncus posuere</p>
                        </div>
                    </div>
                    <!--end Feature-->

                    <div class="col-md-4">
                        <div class="ts-feature">
                            <img src="{% static 'themes/preus/assets/img/icon__user.png' %}" alt="" class="mb-5">
                            <h4>Know Your User</h4>
                            <p>Donec finibus a quam vel scelerisque. Donec varius</p>
                        </div>
                    </div>
                    <!--end Feature-->

                    <div class="col-md-4">
                        <div class="ts-feature">
                            <img src="{% static 'themes/preus/assets/img/icon__envelope.png' %}" alt="" class="mb-5">
                            <h4>Target The Audience</h4>
                            <p> Vestibulum scelerisque quam vitae arcu euismod, sit</p>
                        </div>
                    </div>
                    <!--end Feature-->

                </div>
            </div>

            <div class="ts-background ts-bg-black">
                <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                    <img src="{% static 'themes/preus/assets/img/bg__pattern--topo-white.png' %}" alt="">
                </div>
            </div>
        </section>

        <!--Образование
        ============================================================================================================
        -->
        <section id="experience" class="ts-block">
            <div class="container">

                <div class="ts-title">
                    <h2>Моё образование</h2>
                </div>

                <div class="row">

                    <div class="col-md-6 mb-4">
                        <p>
                            В 2010 году закончила ГОУ ВПО "Арзамасский Государственный педагогический институт им. А.П. Гайдара" по специальности История. квалификация учитель истории.
                        </p>
                        <a href="contacts/" class="ts-link ts-underline">Contact Us</a>
                    </div>
                    <!--end Paragraph-->

                    <div class="col-md-6">

                        <div class="progress" data-progress-width="100%">
                            <h5 class="ts-progress-title">Webdesign</h5>
                            <figure class="ts-progress-value"></figure>
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--end Skill-->

                        <div class="progress" data-progress-width="80%">
                            <h5 class="ts-progress-title">Photography</h5>
                            <figure class="ts-progress-value"></figure>
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--end Skill-->

                        <div class="progress" data-progress-width="90%">
                            <h5 class="ts-progress-title">Coding</h5>
                            <figure class="ts-progress-value"></figure>
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--end Skill-->

                    </div>
                </div>
                <!--end .row-->
            </div>
            <!--end .container-->
        </section>

        <!--Промо номера
        ============================================================================================================
        -->
        <section class="ts-block ts-background-repeat" data-bg-image="{%  static 'img/bg__pattern--dot.png' %}">
            <div class="container ts-promo-numbers">
                <div class="row">

                    <div class="col-sm-6 col-md-3">
                        <div class="ts-promo-number text-center">
                            <figure class="odometer" data-odometer-final="25">0</figure>
                            <h5>Выпускников</h5>
                        </div>
                    </div>
                    <!--end Promo number-->

                    <div class="col-sm-6 col-md-3">
                        <div class="ts-promo-number text-center">
                            <figure class="odometer" data-odometer-final="17">0</figure>
                            <h5>Награды</h5>
                        </div>
                    </div>
                    <!--end Promo number-->

                    <div class="col-sm-6 col-md-3">
                        <div class="ts-promo-number text-center">
                            <figure class="odometer" data-odometer-final="10">0</figure>
                            <h5>Стаж работы</h5>
                        </div>
                    </div>
                    <!--end Promo number-->

                    <div class="col-sm-6 col-md-3">
                        <div class="ts-promo-number text-center">
                            <figure class="odometer" data-odometer-final="8">0</figure>
                            <h5>По специальности</h5>
                        </div>
                    </div>
                    <!--end Promo number-->

                </div>
            </div>
        </section>

        <!--Курсы повышения квалификации
        ============================================================================================================
        -->
        {% block courses %}
            <section id="courses" class="ts-block">
                <div class="container">

                    <div class="ts-title">
                        <h2>Курсы повышения квалификации</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-5">
                            <img src="{% static 'img/img__plant.jpg' %}" class="w-100" alt="">
                        </div>

                        <div class="col-md-6">
                            <ul class="list list-text list-dashed">

                                {% for course in courses %}
                                    {% block experience %}
                                        <li data-animate="ts-fadeInRight">
                                            <h5 class="opacity-30">
                                                <strong>{{ course.begin_date }} - {{ course.finish_date }}
                                                    {{ course.duration }} часов</strong></h5>
                                            <h4>{{ course.name }}</h4>
                                            <p>
                                                {{ course.place }}
                                            </p>
                                        </li>
                                        <!--end Experience block-->
                                    {% endblock experience %}
                                {% endfor %}

                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        {% endblock courses %}

        <!--Новости
        ============================================================================================================
        -->
        {% block news %}
            <section id="news" class="ts-block pt-0">
                <div class="container">

                    <div class="ts-title">
                        <h2>Последние новости</h2>
                    </div>

                    <div class="row">
                        {% for news in news_list %}
                            <div class="col-md-4">
                                <div class="ts-blog-thumb">
                                    <a href="{{ news.url  }}" class="ts-blog-image ts-background">
                                        <div class="ts-background-image ts-img-into-bg">
                                            <img src="{{ news.photo.url }}" alt="">
                                        </div>
                                    </a>
                                    <h6>{{ news.date }}</h6>
                                    <h4>
                                        <a href="{{ news.url  }}">{{ news.title }}</a>
                                    </h4>
                                    {% autoescape off %}
                                        {{ news.text | truncatechars_html:140 }}
                                    {% endautoescape %}
                                    <footer>
                                        <a href="#" class="mr-3"><i class="fa fa-comment"></i> {{ news.comments }}</a>
                                        <a href="#" class="mr-3"><i class="fa fa-heart"></i> 0</a>
                                        {% if news.fix %}
                                            <a href="#" class="mr-3"><i class="fa fa-lock"></i></a>
                                        {% endif %}

                                    </footer>
                                </div>
                            </div>
                            <!--end Blog post thumbnail-->
                        {% endfor %}
                    </div>

                </div>
            </section>
        {% endblock news %}
    </main>
{% endblock main-content%}